<div class="sidebar-container">
  <div class="brand-section">
    <mat-icon class="brand-icon">school</mat-icon>
    <span class="brand-name">Cookpedia Admin</span>
  </div>
  
  <mat-divider class="mb-3"></mat-divider>

  <mat-nav-list>
    <a mat-list-item routerLink="/admin" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>
    
    <a mat-list-item routerLink="/admin/recipe-list" routerLinkActive="active-item">
      <mat-icon matListItemIcon>restaurant_menu</mat-icon>
      <span matListItemTitle>Recipe List</span>
    </a>
    
    <a mat-list-item routerLink="/admin/user-list" routerLinkActive="active-item">
      <mat-icon matListItemIcon>group</mat-icon>
      <span matListItemTitle>User List</span>
    </a>
    
    <a mat-list-item routerLink="/admin/download-list" routerLinkActive="active-item">
      <mat-icon matListItemIcon>cloud_download</mat-icon>
      <span matListItemTitle>Download List</span>
    </a>
    
    <a mat-list-item routerLink="/admin/request-list" routerLinkActive="active-item">
      <mat-icon matListItemIcon>feedback</mat-icon>
      <span matListItemTitle>Request List</span>
    </a>
  </mat-nav-list>
</div>
