<mat-toolbar color="primary" class="header-toolbar shadow-sm sticky-top">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="brand-section">
      <a routerLink="/" class="brand-link">
        <mat-icon class="brand-icon">school</mat-icon>
        <span class="brand-name">Cookpedia</span>
      </a>
    </div>

    <div class="nav-links d-none d-md-flex align-items-center">
      <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-button routerLink="/all-recipes" routerLinkActive="active-link">Recipes</a>
      <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </div>

    <div class="user-section">
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
        <mat-icon>account_circle</mat-icon>
        <span class="ms-1 d-none d-sm-inline" *ngIf="isLoggedin">Hi, {{loginUser}}</span>
        <span class="ms-1 d-none d-sm-inline" *ngIf="!isLoggedin">Account</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu" xPosition="before">
        <ng-container *ngIf="isLoggedin; else guestMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item routerLink="/save-recipe">
            <mat-icon>favorite</mat-icon>
            <span>Recipe Collection</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </ng-container>
        
        <ng-template #guestMenu>
          <button mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item routerLink="/register">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
