.admin-container {
  height: 100dvh;
}

.admin-sidenav {
  width: 260px;
  background-color: #1b5e20;
}

.top-toolbar {
  height: 64px;
}

.search-field {
  width: 100%;
  max-width: 350px;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem;
}

.table-hover tbody tr:hover {
  background-color: rgba(46, 125, 50, 0.02);
}

/* Pagination Customization */
::ng-deep .ngx-pagination {
  padding-left: 0;
}

::ng-deep .ngx-pagination .current {
  background: #2e7d32 !important;
  border-radius: 50%;
}

::ng-deep .ngx-pagination a {
  text-decoration: none;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .admin-sidenav {
    display: none;
  }
}
